 /* Aumentar el tamaño de las filas y celdas */
 .tabla-productos tbody tr {
    height: 100px; /* Altura de cada fila */
}

.tabla-productos tbody td {
    vertical-align: middle; /* Centrar el contenido verticalmente */
}

/* Ajustar el tamaño de las imágenes */
.tabla-productos tbody img {
    max-height: 80px; /* Altura máxima de la imagen */
    width: auto; /* Ancho automático para mantener la proporción */
    display: block; /* Evitar espacios no deseados */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}